name: Build qriCard Installers

on:
  push:
    tags:
      - "v1.1.0"
    branches: [main]

jobs:
  build-windows-release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13.x"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Creating Windows installer
        run: npm run electron:dist
      - name: Upload Windows Installer as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: qriCard-windows
          path: ./dist/*.msi
          if-no-files-found: warn
          retention-days: 7

  build-mac-release:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13.x"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Creating macOS installer
        run: npm run electron:dist
      - name: Upload macOS Installer as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: qriCard-mac
          path: ./dist/*.dmg
          if-no-files-found: warn
          retention-days: 7

  build-linux-release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13.x"
      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"
      - name: Creating Linux installer
        run: npm run electron:dist
      - name: Upload Linux Installer as Artifact
        uses: actions/upload-artifact@v4
        with:
          name: qriCard-linux
          path: ./dist/*.AppImage
          if-no-files-found: warn
          retention-days: 7

  release:
    needs: [build-windows-release, build-mac-release, build-linux-release]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Download Windows Artifact
        uses: actions/download-artifact@v4
        with:
          name: qriCard-windows
          path: ./release

      - name: Download macOS Artifact
        uses: actions/download-artifact@v4
        with:
          name: qriCard-mac
          path: ./release

      - name: Download Linux Artifact
        uses: actions/download-artifact@v4
        with:
          name: qriCard-linux
          path: ./release

      - name: Create GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          tag_name: ${{ github.ref_name }}
          name: Release ${{ github.ref_name }}
          files: |
            ./release/*.msi
            ./release/*.dmg
            ./release/*.AppImage
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
